body {
	font-size: 16px;
	display: inline;
	font-family: 'Bookman Old Style';
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
header {
	margin: 0 2% 2% 2%;
}
main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 1%;
}
h2 {
	margin: 1%;
}
section {
	margin: 2%;
	padding-right: 3%;
}
form {
	font-family: 'Bookman Old Style';
}
fieldset {
	border: 2px dashed black;
	/* margin: 20px; */
	/* padding: 20px; */
}
textarea {
	width: 91%;
	padding: 5px 10px;
	margin: 1%;
}
div>select {
	width: 70%;
}
.searchQuery {
	padding-left: 2%;
}
.blog_container {
  	padding: 1% 1% 0% 1%;
  	border: 2px solid black;
  	border-radius: 5px;
  	width: 28%;
  	margin: 1%;
  	background-color: white;
  	display: flex;
  	flex-direction: column;
  	background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}
.blog_header {
	border-bottom: 2px dashed black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.post_title {
	width:  78%;
	align-self: flex-end;
}
.user_image {
	border: 2px solid black;
	width: 80px;
	height: 80px;
	margin: 1%;
	text-align: center;
	font-size: 12px;
}
.blog_content {
	padding:  1%;
}
.blog_footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 12px;
	color: #534d4d;
	margin-top: auto;
}
#post_creation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.form_container {
	width: 45%
}
.form_container_del {
	width: 30%
}
.formElement, select {
	width: 35%;
	padding: 5px 10px;
	margin: 1%;
}
.formButton {
	float: right;
	margin: 1%;
}
#post_delete {
	display: flex;
	justify-content: space-around;
}
.error_message {
	font-size: 14px;
	color: red;
}
.success_message {
	font-size: 14px;
	color: green;
}